@model StockCardListModel
@{
    Layout = "_Layout";
}

<form class="w-75 m-5 p-3  mx-auto" asp-action="Update" asp-controller="StockCard" method="post">
    <input type="hidden" asp-for="@Model.Id" />

    <div class="mb-3">
        <label for="@Model.Code" class="form-label">Code :</label>
        <span asp-validation-for="@Model.Code" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Code" />
    </div>
    <div class="mb-3">
        <label for="@Model.ProductType" class="form-label">ProductType :</label>
        <span asp-validation-for="@Model.ProductType" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.ProductType" />
    </div>
    <div class="mb-3">
        <label for="@Model.Description" class="form-label">Description :</label>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Description" />
    </div>
     <div class="mb-3">
        <label for="StockTypeId" class="form-label">Stock Type:</label>
        <span asp-validation-for="StockTypeId" class="text-danger"></span>
        <select asp-for="StockTypeId" asp-items="@Model.StockTypeList" class="form-select">
            <option value="">Select Stock Type</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="StockUnitId" class="form-label">Stock Unit:</label>
        <span asp-validation-for="StockTypeId" class="text-danger"></span>
        <select asp-for="StockUnitId" asp-items="@Model.StockUnitList" class="form-select">
            <option value="">Select Stock Unit</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="@Model.ShelfInformation" class="form-label">ShelfInformation :</label>
        <span asp-validation-for="@Model.ShelfInformation" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.ShelfInformation" />
    </div>
    <div class="mb-3">
        <label for="@Model.CabinetInformation" class="form-label">CabinetInformation :</label>
        <span asp-validation-for="@Model.CabinetInformation" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.CabinetInformation" />
    </div>
    <div class="mb-3">
        <label for="@Model.Amount" class="form-label">Amount :</label>
        <span asp-validation-for="@Model.Amount" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Amount" />
    </div>
    <div class="mb-3">
        <label for="@Model.CriticalQuantity" class="form-label">CriticalQuantity :</label>
        <span asp-validation-for="@Model.CriticalQuantity" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.CriticalQuantity" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary w-100">Kaydet</button>
        <a asp-action="List" asp-controller="StockCard" class="btn btn-secondary">Listeye Geri Dön</a>

    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
</form>